<footer class="container py-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <h4>NextEws</h4>
            <small class="d-block mb-3 text-muted">© 2018-2019</small>
        </div>
        <div class="col-6 col-md">
            <h5>Structure</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="http://flask.pocoo.org/" target="_blank">Flask</a></li>
                <li><a class="text-muted" href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Text-classification</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.tensorflow.org/" target="_blank">TensorFlow</a></li>
                <li><a class="text-muted" href="https://keras.io/" target="_blank">Keras</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About me</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/AleRiccardi/" target="_blank">Github</a></li>
                <li><a class="text-muted" href="https://www.linkedin.com/in/alericcardi/" target="_blank">Linkedin</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Get the project</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="https://github.com/AleRiccardi/NextEws" target="_blank">Project link</a>
                </li>

            </ul>
        </div>
    </div>
</footer>