<aside class="col-md-3 sidebar">
    <div id="sticky-sidebar-anchor"></div>
    <div id="sticky-sidebar" class="card">
        <div class="card-header">
            Categories
        </div>
        <div class="card-body">
            <ol class="side-cat list-unstyled mb-0">
                {% for category in categories %}
                    <li>
                        <a href="{{ url_for('category', slug=category['slug']) }}">
                            {% if category['id'] == actual_category['id'] %}
                                <div class="{{ category['class_color'] }}">
                            {% else %}
                                <div>
                            {% endif %}
                                <div class="side-cat-icon mr-2">
                                    <div class="side-cat-icon-center">
                                        <i class="{{ category['class_icon'] }}"></i>
                                    </div>
                                </div>
                                <span class="side-cat-title">{{ category['name'] }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

</aside>