{% extends "layout/app-admin.html" %}

{% block body %}

    <div class="container">
        <div class="jumbotron jumbotron-admin">
            <h1 class="text-center display-4">
                <span>Admin</span>
            </h1>
        </div>
        <main role="main">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="adm-intro show mb-4">
                        <p class="text-justify">
                            In this page the heart of the website is located. Here you can start downloading the news
                            from the <a href="https://newsapi.org/">NewsAPI</a> service throw the button below and only
                            after you can start the text-categorization.
                            <br>
                            The text-categorization permit to give the right categories to the news (business,
                            entertainment,
                            politics, sport, technology) through a process of artificial intelligence that uses
                            neural-networks.
                            The neural-network is already trained with other news with a result of an accuracy of 99%.
                            <br>
                            Start by clicking the button below.
                        </p>
                        <div class="adm-cont-start-btn text-center my-5">
                            <button id="btn_dwn_news" class="btn btn-primary d-auto">
                                Download news
                            </button>
                        </div>
                    </div>
                    <div class="amd-loading-dwn-news">
                        <img src="{{ url_for('static', filename='images/gif/pentagono.gif') }}" class=""
                             alt="Loading to download new news">
                        <div class="adm-loader-dwn-text">
                            Downloading news
                            <span class="loader__dot">.</span>
                            <span class="loader__dot">.</span>
                            <span class="loader__dot">.</span>
                        </div>
                    </div>
                    <div class="amd-loading-ctg-news">
                        <img src="{{ url_for('static', filename='images/gif/blur-wave.gif') }}" class=""
                             alt="Loading to categorize news">
                        <div class="adm-loader-dwn-text">
                            Categorizing <span class="adm-num-ctg-news">40</span> news
                            <span class="loader__dot">.</span>
                            <span class="loader__dot">.</span>
                            <span class="loader__dot">.</span>
                        </div>
                    </div>
                    <div class="adm-finish">
                        <table id="adm-tbl-news" class="table table-sm">
                            <thead>
                            <tr>
                                <th style="width: 20%">Title</th>
                                <th style="width: 20%">Description</th>
                                <th style="width: 20%">Content</th>
                                <th style="width: 8%">Url</th>
                                <th style="width: 8%">Image</th>
                                <th style="width: 16%">Date</th>
                                <th style="width: 8%">Category</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row" class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                                <td class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                                <td class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                                <td class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                                <td class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                                <td class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                                <td class="tbl-truncate">
                                    <div class="tbl-truncate-in">
                                        Ottsdfsadfdsasafasdasasddasfo
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div><!-- /.col-md-9 -->
            </div><!-- /.row -->
        </main><!-- /.container -->
    </div>
{% endblock body %}


