{% extends "layout/app-admin.html" %}

{% block body %}

    <div class="container">
        <div class="jumbotron jumbotron-admin">
            <h1 class="text-center display-4">
                <span>Admin</span>
            </h1>
        </div>
        <main role="main">
            <div class="row justify-content-md-center">
                <div class="adm-intro col-md-8 show">
                    <p class="text-justify">
                        In this page the heart of the website is located. Here you can start downloading the news
                        from the <a href="https://newsapi.org/">NewsAPI</a> service throw the button below and only
                        after you can start the text-categorization.
                        <br>
                        The text-categorization permit to give the right categories to the news (business,
                        entertainment,
                        politics, sport, technology) through a process of artificial intelligence that uses
                        neural-networks.
                        The neural-network is already trained with other news with a result of an accuracy of 99%.
                        <br>
                        Start by clicking the button below.
                    </p>
                    <div class="adm-cont-start-btn text-center my-5">
                        <button id="btn_dwn_news" class="btn btn-primary d-auto">
                            Download news
                        </button>
                    </div>
                </div><!-- /.col-md-8 -->
                <div class="amd-loading-dwn-news col-md-8">
                    <img src="{{ url_for('static', filename='images/gif/pentagono.gif') }}" class=""
                         alt="Loading to download new news">
                    <div class="adm-loader-dwn-text">
                        Downloading news
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                        <span class="loader__dot">.</span>
                    </div>
                </div>
                <div class="col-md-12 adm-finish">
                    <div class="clearfix mb-4">
                        <h3 class="float-left">Downloaded and categorized
                            <span id="num_news_added" class="badge badge-secondary">0</span>
                            news
                        </h3>
                        <button type="button" id="btn_reset_process" class="btn btn-sm btn-warning float-right">
                            Restart
                        </button>
                    </div>
                    <table id="adm-tbl-news" class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th style="width: 20%">Title</th>
                            <th style="width: 20%">Description</th>
                            <th style="width: 20%">Content</th>
                            <th style="width: 9%">Url</th>
                            <th style="width: 9%">Image</th>
                            <th style="width: 9%">Date</th>
                            <th style="width: 9%">Category</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-8 adm-no-news">
                    <h1 class="mt-1">No news found</h1>
                    <p class="lead">All the recent news are already downloaded, please retry in half an hour to download
                        new news.</p>
                    <p>
                        <button type="button" id="btn_reset_process_no_news" class="btn btn-warning">
                            Restart
                        </button>
                    </p>
                </div>
            </div><!-- /.row -->
        </main><!-- /.container -->
    </div>
{% endblock body %}


