{% extends "layout/app.html" %}

{% block body %}
    <div class="jumbotron p-3 p-md-5 text-white rounded img-responsive bg-dark"
         style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .30), rgba(0, 0, 0, .30)), url({{ last_news.url_to_image }});">
        <div class="col-md-8 px-0">
            <h1 class="display-4 font-italic">{{ last_news.title }}</h1>
            <p class="lead my-3">{{ last_news.description }}</p>
            <p class="lead mb-0"><a href="{{ last_news.url }}" class="text-white font-weight-bold" target="_blank"
                                    rel="noopener noreferrer" git>Continue reading...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        {% for index, news in next_two_news.iterrows() %}

            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h4 class="mb-0">
                            <a class="text-dark" href="#">{{ news.title }}</a>
                        </h4>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">
                            {% if not news.description|length > 70 %}
                                {{ news.description }}
                            {% else %}
                                {{ news.description[:70] }} ...
                            {% endif %}
                        </p>
                        <a href="{{ news.url }}">Continue reading</a>
                    </div>
                    <div class="card-img-right flex-auto d-none d-lg-block img-resp-div">
                        <img class="img-resp-in-div" src="{{ news.url_to_image }}"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pl-2 pb-3 mb-2 font-italic">
                    Last news
                </h3>

                <div class="blog-post border px-4 py-3 rounded">
                    <h2 class="blog-post-title">Sample blog post</h2>
                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

                    <p>This blog post shows a few different types of content that's supported and styled with Bootstrap.
                        Basic typography, images, and code are all supported.</p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3">
                    <h4 class="font-italic">Category</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">World</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Sport</a></li>
                    </ol>
                </div>

            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock body %}


