{% extends "layout/app.html" %}

{% block body %}
    <div class="row mt-4 mb-5">
        <div class="col-12">
            <h1 class="display-1">
                <span>{{ source['name'] }}</span>
            </h1>
        </div>
    </div>

    <main role="main">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pl-2 pb-3 mb-2 font-italic">
                    Last news
                </h3>
                {% for index, the_news in news.iterrows() %}
                    {% with news=the_news %}
                        {% include "components/news-standard.html" %}
                    {% endwith %}
                {% endfor %}
            </div><!-- /.col-md-9 -->


        </div><!-- /.row -->


    </main><!-- /.container -->

{% endblock body %}


